<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StickerMapper">
    <select id="show_all_stickers" resultType="com.example.demo.sticker.Sticker">
        select * from sticker
    </select>
    <insert id="insert_sticker">
        insert into sticker(id, sender, receiver, content, kind, bgcolor) values(#{id}, #{sender}, #{receiver}, #{content}, #{kind}, #{bgcolor})
    </insert>
    <select id="SearchByKind" resultType="com.example.demo.sticker.Sticker">
        select * from sticker where kind = #{kind}
    </select>
    <select id="SearchBySender" resultType="com.example.demo.sticker.Sticker">
        select * from sticker where sender = #{sender}
    </select>
    <delete id="DeleteById">
        delete from sticker where id=#{id}
    </delete>
</mapper>
